<h1>Question Page</h1>

<% if @errors %>
		<% @errors.full_messages.each do |msg| %>
		<ul>
			<li>msg</li>
		</ul>
	<% end %>
<% end %>

<% if @question %>
 	<ul>
		<li>Question: <%= @question.description %></li>
		<li>Author: <%= @question.user.username %></li>
		<li>Created at: <%= @question.created_at %></li>
	</ul>
<% end %>

<form method="post" action="/question/<%=@question.id%>/answer">
		<input type="text" name="description">
		<input type="submit" name="Submit">
</form>

<h2>Answers: </h2>
<% @answers.each do |a| %>
	<ul>
		<li><%= a.description %></li>
		<li><%= a.user.username if a.user%></li>
		<li><%= a.created_at %></li>
	</ul>
<% end %>

